html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
caption {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.card {
  height: 400px;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'PT Sans', sans-serif;
}

form imput {
  text-align: center;
}

button {
  height: 40px;
  width: 200px;
  color: white;
  background: #4527a0;
  border: 1px dashed #dc143c;
  border-radius: 10px;
  font-weight: bold;
  letter-spacing: 1px;
  margin: 10px 0px;
  box-shadow: 4px 4px 4px #888888;
  transition: .5s;
}

button:active {
  height: 40px;
  width: 200px;
  color: white;
  background: #4527a0;
  border: 1px dashed #dc143c;
  border-radius: 10px;
  font-weight: bold;
  letter-spacing: 1px;
  margin-top: 10px;
  transform: scale(.95);
  box-shadow: none;
  transition: .2s;
}

button:focus {
  height: 40px;
  width: 200px;
  color: white;
  background: #4527a0;
  border: 1px dashed #dc143c;
  border-radius: 10px;
  font-weight: bold;
  letter-spacing: 1px;
  margin-top: 10px;
}

.add-board-form {
  width: 50%;
  margin: 0 auto;
  color: white;
}

.profile-boards-list {
  height: 100%;
  padding-bottom: .01%;
}

.profile-boards-list h1 {
  color: white;
  font-size: 2.5rem;
  font-weight: bold;
  padding: 10px 0px;
}

.profile-boards-list h3 {
  color: white;
  font-size: 2.5rem;
  font-weight: bold;
  padding: 10px 0px;
}

.boards-card {
  width: 45%;
  margin: 2% auto;
  text-align: center;
  height: 600px;


}

.saved-article {
  width: 500px;
  margin: 0 auto;
  text-align: center;
  height: 100%;
  margin: 1% auto;
}

.read-later-form h1 {
  color: white;
  font-size: 2.5rem;
  font-weight: bold;
  padding: 10px 0px;
}

.boards-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.boards-list a {
  width: 30%;
}

img {
  max-width: 100%;
}

.saved-article {
  width: 500px;
  margin: 0 auto;
  text-align: center;
  height: 100%;
  margin: 1% auto;

}

.saved-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

}

.container h1 {
  color: white;
  font-size: 2.5rem;
  font-weight: bold;
  padding: 10px 0px;
}

input {
  color: white;
}