body {
  margin: 0;
  

  

  font-family: 'PT Sans Narrow', sans-serif;


  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* .read-later-form {
  width:40%;
  margin: 0 auto;
  padding:20px 0px;
  background: rgba(255,255,255,.1);
  color:White;
  text-align:center;
}

.read-later-form h3 {
  margin:5px;
  font-size: 2rem;
  font-weight:bold;

} */